apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: adot
  namespace: tamnara-prod
  annotations:
    # ArgoCD에서 Operator가 관리하는 필드들 무시
    argocd.argoproj.io/sync-options: IgnoreExtraneous
    argocd.argoproj.io/compare-options: IgnoreAggregatedRoles
spec:
  mode: deployment
  serviceAccount: adot-collector
  replicas: 1
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
    
    processors:
      batch:
    
    exporters:
      debug:
      prometheus:
        endpoint: "0.0.0.0:8889"
        namespace: "otel"
        const_labels:
          service: "tamnara-backend-service"
      # SigNoz exporter for traces
      otlp/signoz:
        endpoint: "http://signoz.tam-nara.com:4317"
        tls:
          insecure: true
    
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [debug, otlp/signoz]  # SigNoz로 트레이스 전송
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [debug, prometheus]
      telemetry:
        logs:
          level: info
        metrics:
          address: 0.0.0.0:8888 