apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      serviceAccountName: frontend-service-account  # IRSA로 만든 Service Account 사용
      nodeSelector:
        eks.amazonaws.com/nodegroup: frontend-node-group  # frontend 노드 그룹에 배포
      initContainers:
      - name: config-downloader
        image: amazon/aws-cli:latest
        command:
        - sh
        - -c
        - |
          aws s3 cp s3://tamnara-environment/fe/nginx.conf /shared-config/nginx.conf
          echo "Downloaded nginx.conf from S3"
        volumeMounts:
        - name: shared-config
          mountPath: /shared-config
        env:
        - name: AWS_DEFAULT_REGION
          value: "ap-northeast-2"
        - name: AWS_METADATA_SERVICE_TIMEOUT
          value: "10"
        - name: AWS_METADATA_SERVICE_NUM_ATTEMPTS
          value: "3"
      containers:
      - name: frontend
        image: 346011888304.dkr.ecr.ap-northeast-2.amazonaws.com/tamnara/fe:latest # Image Updater가 자동으로 업데이트
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        command:
        - sh
        - -c
        - |
          cp /shared-config/nginx.conf /etc/nginx/nginx.conf
          echo "Copied custom nginx.conf"
          nginx -g "daemon off;"
        volumeMounts:
        - name: shared-config
          mountPath: /shared-config
          readOnly: true
      volumes:
      - name: shared-config
        emptyDir: {}
      # volumes:
      # - name: nginx-config
      #   configMap:
      #     name: frontend-nginx-config 