---
# ServiceAccount
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argocd-image-updater
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::346011888304:role/tamnara-cluster-argocd-image-updater-ecr-role
---
# ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argocd-image-updater
rules:
  - apiGroups: ["argoproj.io"]
    resources: ["applications"]
    verbs: ["get", "list", "watch", "patch", "update"]
---
# ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argocd-image-updater
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argocd-image-updater
subjects:
  - kind: ServiceAccount
    name: argocd-image-updater
    namespace: argocd
---
# ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
      - name: ECR
        api_url: https://346011888304.dkr.ecr.ap-northeast-2.amazonaws.com
        prefix: 346011888304.dkr.ecr.ap-northeast-2.amazonaws.com
        credentials: ext:/bin/sh -c 'aws ecr get-login-password --region ap-northeast-2'
        default: true
---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-image-updater
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-image-updater
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-image-updater
    spec:
      serviceAccountName: argocd-image-updater
      containers:
        - name: argocd-image-updater
          image: quay.io/argoprojlabs/argocd-image-updater:v0.16.0
          args:
            - run
          env:
            - name: ARGOCD_SERVER
              value: "argocd-server.argocd.svc.cluster.local:80"
            - name: ARGOCD_INSECURE
              value: "true"
            - name: ARGOCD_GRPC_WEB
              value: "true"
            - name: IMAGE_UPDATER_LOGLEVEL
              value: "info"
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
      volumes:
        - name: config-volume
          configMap:
            name: argocd-image-updater-config 